%h1 Search for tweets

= form_tag twitter_search_path, method: :get do
  %p
    = text_field_tag :search, params[:search]
    = submit_tag 'Search'

-if @paginatable_tweets
  - top_hashtags(@tweets).each do |hashtag, count|
    Quantity of "#{hashtag}" hashtag: #{count}
    %br

  %h2 Tweets

  %table
    %tbody
      %tr
        %th Tweet author
        %th Tweet text
    - @paginatable_tweets.each do |tweet|
      %tr
        %td= tweet[:user][:screen_name]
        %td= tweet[:text]

  = paginate @paginatable_tweets
- else
  No tweets found
